*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-header{
    background:linear-gradient(to bottom, #55a4e9, #55a4e990, #a8c6e081);
    font-size: 1.2rem;
    height: 5rem;
    padding: 0 .5rem;
}

.main-nav{
    height: 100%;
    width: 100%;
}
.flex-list{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.non-fancy-a{
    text-decoration: none;
    padding: .2rem;
    color: #1f1f1f;
    font-weight: 500;
    cursor: pointer;
}
.non-fancy-a:hover{
    color: #5a5a5a;
    border-bottom: #000 1px solid;
    background-color: #0000000f;
    border-radius: .5rem;
    transition: .3s;
}
.fancy-li{
    position: relative;
}
.fancy-li::before{
    background: url(media/front.png);
    content: "";
    display: block;
    width: 5rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    top: -.5rem;
    right: 6rem;
    z-index: 100;;
}
.main{
    padding: 0 10rem;
    background-color: #eee9;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-end;
    align-content: first baseline;
    min-height: 100vh;
}
.simple-p{
    line-height: 1.7rem;
    padding: 0 1rem;
}
.main-title{
    text-align: center;
    margin: 0 0 1rem 0;
    color: #509aee;
}
.img-txt-box{
    width: min-content;
    flex-basis: 20rem;
    background-color: #ddd8;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}
.img-container{
    box-sizing: border-box;
    max-width: 20rem;
    max-height: 15rem;
    text-align: center;
    background-color: #efefef;
    border-radius: 1rem;
}
.img-container img{
    max-height: 14rem;
    max-width: 19rem;
}
.img-container legend{
    height: 1rem;
    transform: translate(0, -.5rem);
}
.h-f{
    background-color: #dfdfdf99;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: repeat(6, 3rem);
}
.ft-ul{
    grid-row: span 3;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    
    align-items: center;
    list-style:none;
}
.ft-ul li::before{
    content: "<";
}
.ft-ul .title{
    font-size: 1.5rem;
    flex: 0;
    font-weight: 900;
    margin: 0 0 1rem 0;
    text-align: center;

}
