/* This is a temporal archive to display correctly the page while the styles are being worked on, later, the clases will be separated by resolutions, and there will be less general type of styles, as the page will follow a set type of design */
@import url(vars.css);
@import url(jsclasses.css);
/* General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.fixed-left{
    position: fixed;
    z-index: 10000;
    left: 0;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
/* Containers */
    /* Headers */
.main-header{
    background-color: var(--dark-fancy-blue);
    color: var(--light-blue);
    text-shadow: var(--mustard-yellow) -1px -1px 2px;
    padding: .5rem;
}
.main-header-blue{
    background:linear-gradient(to bottom, #55a4e9, #55a4e990, #a8c6e081);
    font-size: 1.2rem;
    height: 5rem;
    padding: 0 .5rem;
}
    /* Sections and articles */
.card, .card-article{
    background-color: var(--black-mist);
    color: #fff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.card-container{
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}
.card-article{
    overflow: auto;
    border-radius: 1rem;
}
    /* Div & main*/
.main-container{
    display: grid;
    gap: 2rem 0;
    padding-top: 1rem;
}
.padding-container{
    padding: 0 10%;
}
.aside-left-container{
    padding-left: 20%;
}
.aside-left-container aside{
    max-width: 20%;
}
.dark-blue-background{
    background-color: var(--dark-blue);
    color: #fff;
}
.dark-gray-background{
    background-color: var(--dark-gray);
    color: #fff;
}
.darkest-gray-background{
    background-color: var(--darkest-gray);
    color: #fff;
}
    /* Grid template columns */
    .g-6-rows{
        grid-template-rows: repeat(5, auto) 1fr;
    }
    .g-3-rows{
        grid-template-rows: auto auto 1fr;
    }
    .g-4-rows{
        grid-template-rows: repeat(3, auto) 1fr;
    }
    .g-3-col{
        grid-template-columns: repeat(3, auto);
    }
    .g-col-span-2{
        grid-column: span 2;
    }
    .g-col-span-3{
        grid-column: span 3;
    }
    /* Flex */
    .flex-wrap{
        display: flex;
        flex-wrap: wrap;
    }
    .flex-nowrap{
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
    }
    
    .flex-column{
        flex-direction: column;
    }
    .flex-wrap-reverse{
        flex-wrap: wrap-reverse;
    }
    .justify-center{
        justify-content: center;
    }
    .justify-around{
        justify-content: space-around;
    }
    .justify-between{
        justify-content: space-between;
    }
    .justify-evenly{
        justify-content: space-evenly;
    }
    .align-items-center{
        align-items: center;
    }
    .align-items-baseline{
        align-items: baseline;
    }
    /* Footer */
    .f-log-container{
        width: 30%;
        flex-basis: 30%;
        text-align: center;
        padding: 1rem;
    }
    .main-footer{
        height: 10rem;
        overflow: hidden;
    }
/* Nav & a */
    /* Nav-header */
.header-nav{
    background-color: inherit;
}
    /* Nav-bars */
.navbar{
    background-color: var(--white-mist);
    padding: .5rem;
    margin: 0 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    list-style: none;
}
.nav-item{
    margin:.5rem 0;
}
    /* Links */
.inherit-a{
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    color: inherit;
    text-align: inherit;
}
.non-fancy-a{
    text-decoration: none;
    padding: .2rem;
    color: #1f1f1f;
    font-weight: 500;
    cursor: pointer;
}
/* Multimedia */
    /* Images */
.left-image, .top-image{
    max-width: 100%;
    max-height: 100%;
    justify-self: center;
    align-self: center;
}
.left-image{
    grid-area: 1/1 /-1 / 6;
}
.top-image{
    grid-column: 1/13;
    height: fit-content;
}
    /* Videos */

    /* Iframes */

/* Buttons  */
    .btn-warning, .btn-success,.btn-danger, .btn-calm {
        border-radius: .5rem;
        padding: .4rem 1rem;
        margin: 0 .2rem;
    }
    .btn-danger{
        background-color: var(--meat-red);
        color: var(--light-gray);
    }
    .btn-calm{
        background-color: var(--light-blue);
        color: var(--darkest-gray);
    }
    .btn-warning{
        background-color: var(--mustard-yellow);
        color: var(--darkest-gray);
    }
    .btn-success{
        background-color: var(--dark-fancy-green);
        columns: #fff;
    }
/* Text */
    /* P & H */
.big-font{
    font-size: 2rem;
}
.normal-font{
    font-size: 1rem;
}
.medium-font{
    font-size: 1.5rem;
}
.bigger-font{
    font-size: 3rem;
}
.v-center-text{
    display: inline-flex;
    align-items: center;
}
.card-title, .card-text{
    grid-column: 1/ 13;
}
.card-title{
    margin: .2rem 0;
    text-align: center;
    font-size: 1.5rem;

}
.card-text{
    margin: 0 0 .4rem .5rem;
    font-size: 1rem;
}
.left-image ~ .card-title, .left-image ~ .card-text{
    grid-column: 6/13;
}
.header-h1{
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
}
.header-h2{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: right;
    text-decoration: none;
}
.section-title{
    font-size: 2rem;
    color: var(--ocher-gray);
    background-color: var(--black-mist);
    padding: .4rem;
    text-shadow: var(--meat-red) 0 0 4px;
}
.white-font{
    color: #fff;
}
    /* Spans & i, strong and b */

/* List*/
    /* Unordered Lists */
.nav-list{
    list-style: none;
}
.ul-no-style{
    list-style: none;
}
    /* Ordered Lists */

/* Subclases */
    /* Hover */
.card-container .card-article:hover, .card-container .card:hover{
    position: relative;
    z-index: 1000;
    transition: .3s;
    transform: scale(120%);
}
.card-container .card-article, .card-container .card{
    transition: .3s;
}
.nav-item:hover{
    background-color: var(--white-mist);
    position: relative;
}
.non-fancy-a:hover{
    color: #5a5a5a;
    border-bottom: #000 1px solid;
    background-color: #0000000f;
    border-radius: .5rem;
    transition: .3s;
}
.btn-danger:hover{
    background-color: var(--dark-red);
    outline: var(--pastel-orange) 1px solid;
}
.btn-calm:hover{
    background-color: var(--blue);
    outline: var(--light-gray) 1px solid;
}
.btn-warning:hover{
    background-color: var(--yellow);
    outline: #000 1px solid;
}
.btn-success:hover{
    background-color: var(--dark-moss-green);
    outline: var(--light-fancy-green-blue);
}
    /* After */
.nav-item:hover::after{
    content: " <";
    position: absolute;
    right: -1rem;
}
    /* Before */

    /* Icons */
i[class="ugly-cat"]{
    content: var(--ugly-cat-icon);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}